/* levelにis-mobileをつけるとlevel-itemの右側にmarginが入る */
.level.is-mobile .level-item {
  margin-right: 0;
}
/* navbar-brandのnavbar-itemにtitleをつけると(？)下側にmarginが入る */
.navbar .navbar-brand .navbar-item.title {
  margin-bottom: 0;
}

[v-cloak] {
  display: none;
}